@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

img.album {
    width: 120px;
    height: auto;
}

.toptracks p {
    margin: 0;
}

.progress {
    height: 6px;
    .progress-bar {
        background-color: #96aec7;
    }
}